.load{
    display: flex;
    height: 590px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.load h1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
