.nic{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin: 30px;
    font-size: 20px;
    margin-bottom: 20px;
}

.nic img{
    height: 120px;
    width: 120px;
    border-radius: 25px;
}

.nic .col{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nic .col a{
    
    text-decoration: none;
    color: white;
}

#coltext{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 50px;
}

#colpic{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 100px;
}